@charset "UTF-8";
/** base valiable */
/* base */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { font-family: "맑은 고딕", "Malgun Gothic", "Nanum Barun Gothic", "돋움", "Dotum", "Arial", "sans-serif"; font-size: 16px; color: #000; line-height: 1; letter-spacing: 0; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* text link */
a, a:link, a:visited, a:active, a:hover, a, a:active, a:visited { color: inherit; text-decoration: none; }

/*style*/
.search_wrap { padding:100px;}
.search_wrap ul.search_list:after {clear:both; display:block; content:'';}
.search_wrap ul.search_list > li {float:left; width:20%; margin:0 10px; }
.search_wrap ul.search_list .selectbox {position: relative;}
.search_wrap ul.search_list .selectbox .select {position: absolute; width:100%; background:#fff; z-index:200;}
.search_wrap ul.search_list .selectbox .select ul.sub_list {display:none; border-left:1px solid #a8a8a8; border-right:1px solid #a8a8a8; border-bottom:1px solid #a8a8a8;}
.search_wrap ul.search_list .selectbox .select ul.sub_list li{position:relative; text-indent:10px;}
.search_wrap ul.search_list .selectbox .select ul.sub_list li label {display:block; cursor:pointer;padding:10px 0;}
.search_wrap ul.search_list .selectbox .select ul.sub_list li input[type="checkbox"] {position:absolute; left:0; top:0; opacity:0; filter: alpha(opacity=0); z-index:-1;}
.search_wrap ul.search_list .selectbox .select ul.sub_list li:hover{background:#555; color:#fff;}
.search_wrap ul.search_list .selectbox .selecttext {height:30px;border: 1px solid #a8a8a8; padding:12px 0 0 17px; background: #fff; text-align:left; color:#555; cursor:pointer; z-index: 9;}
.search_wrap ul.search_list .selectbox .select-arrow{position:absolute;top:1px;right:0; display:block; width:36px;  height:42px;  z-index:10;}
.search_wrap ul.search_list .selectbox .select-arrow.down{background:url('../images/common/select_arrow_down.gif') no-repeat center center;}
.search_wrap ul.search_list .selectbox .select-arrow.up{background:url('../images/common/select_arrow_up.gif') no-repeat center center;}

